@model WebApp.Models.ViewModel.CategoryVM

<form method="post">
    <input type="hidden" asp-for="category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">@((Model.category == null || Model.category.Id == 0) ? "Create":"Update") Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="row md-3">
            <label asp-for="category.Name"></label>
            <input asp-for="category.Name" class="form-control" />
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>
        <div class="row md-3">
            <label asp-for="category.DisplayOrder"></label>
            <input asp-for="category.DisplayOrder" class="form-control" />
            <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">@((Model.category == null || Model.category.Id == 0) ? "Create" : "Update")</button>
    </div>
    <a asp-action="Index" asp-controller="category">Back To List</a>
</form>
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}